@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: Montserrat !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: Roboto !important;
}

.carousel-inner img{
    min-width: 100vw !important;
    height: 600px !important; 
}

.carousel-indicators > button{
    height: 15px !important;
    border-radius: 50% !important;
    width: 15px !important;
}

.carousel-indicators > button.active{
    background-color: #ffb422;
}

.carousel-caption > h2{
    font-size: 2.5rem;
    font-weight: bolder;
}

.carousel-caption > p{
    font-size: 1.3rem;
}