@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: Montserrat !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: Roboto !important;
}

nav{
    background-color: white !important;
}

.carousel-inner img{
    min-width: 100vw !important;
    height: 600px !important; 
}

.carousel-indicators > button{
    height: 15px !important;
    border-radius: 50% !important;
    width: 15px !important;
}

.carousel-indicators > button.active{
    background-color: #ffb422;
}

.carousel-caption > h2{
    font-size: 2.5rem;
    font-weight: bolder;
}

.carousel-caption > p{
    font-size: 1.3rem;
}


.section__1{
    height: 400px;
}

.section__1 > img{
    min-width: 80vw;
    height: 400px;
}


.section__1 > div{
    position: relative;
    display: inline-block;
    left: 20px;
    bottom: 150px;
}

.section__1 > div > h3{
    color: white;
    font-size: 1.8rem;
    font-weight: bolder;
}

.section__1 > div > button{
    margin-top: 20px;
    font-weight: bold;
    background-color: white !important;
    border-radius: 20px;
    padding: .8em 2em;
}


.section__2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding: 2em;
}

.section__2 > div > h2, .section__2 > div > img{
    margin-top: 30px;
}



.section__3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em;
    background-color: #9FCF5D;
}

.section__3 > h2{
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

.section__3 > button{
    margin-left: 40px;
    height: 40px;
    padding: 2em 3em;
    align-self: center;
    font-weight: bold;
    background-color: white !important;
    border-radius: 20px;
}
    