@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: Montserrat !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: Roboto !important;
}


nav{
    position: sticky !important;
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    z-index: 1000;
}

.carousel-inner img{
    min-width: 100vw !important;
    height: 600px !important; 
}

.carousel-indicators > button{
    height: 15px !important;
    border-radius: 50% !important;
    width: 15px !important;
}

.carousel-indicators > button.active{
    background-color: #ffb422;
}

.carousel-caption > h2{
    font-size: 2.5rem;
    font-weight: bolder;
}

.carousel-caption > p{
    font-size: 1.3rem;
}


.section__1{
    height: 400px;
}

.section__1 > img{
    min-width: 80vw;
    height: 400px;
    max-width: 80vw;
}

.section__1 > div{
    position: relative;
    display: inline-block;
    left: 20px;
    bottom: 180px;
}

.section__1 > div > h3{
    color: white;
    font-size: 1.8rem;
    font-weight: bolder;
}

.section__1 > div button{
    margin-top: 20px;
    font-weight: bold;
    background-color: transparent !important;
    border-radius: 20px;
    padding: .5em 2.8em;
    border: 2px solid white;
    color: white;
}

.section__1 > div button:hover{
    background-color: #ffaa00 !important;
}

a{
    text-decoration: none !important;
}


.section__2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding: 2em;
}

.section__2 > div > h2, .section__2 > div > img{
    margin-top: 30px;
}



.section__3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em;
    background-color: #9FCF5D;
}

.section__3 > h2{
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

.section__3 > button{
    margin-left: 40px;
    height: 40px;
    padding: 2em 3em;
    align-self: center;
    font-weight: bold;
    background-color: white !important;
    border-radius: 20px;
}
    


.footer{
    padding: 3em;
    background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.footer > section > h4{
    font-weight: bolder;
    font-size: 1.8rem;
}

.footer > section{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    width: 250px;
    color: white;
}

.footer > section > p, .footer > section > span{
    font-size: .8rem;
    margin-top: 10px;
}

.footer ul > li::before{
    content: '\2605';
    margin-right: 10px;
    color: #ffb422;
}

.footer ul{
    list-style-type: none;
    padding-left: 1em;
}

.footer > section > span{
    font-weight: bold;
}


.copyright-div{
    background-color: black;
    display: flex;
    padding: 2em;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(158, 158, 158);
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

form > div{
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    padding: 2em;
}


form > h1{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 20px;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.button-div button:nth-child(2){
    margin-left: 20px;
}

.button-div button{
    font-weight: bold;
}


@media screen and (max-width: 630px){
    .section__1 > div > h3{
        font-size: 1.2rem;
    }

    .section__1 > div button{
        font-size: .8rem;
    }

    .section__1 > img, .section__1{
        height: 300px;
    }


    .section__2{
        margin-top: 50px;
    }
    .carousel-inner img{
        height: 400px !important;
    }

    .section__2 h2{
        font-size: 1.5rem !important; 
    }

    .section__2 p{
        font-size: .8rem !important;
    }

    .section__3 h2{
        font-size: 1.5rem;
    }

    .section__3 > button{
        height: 20px;
        padding: 1.4em 2em;
    }

    .navbar-brand{
        font-size: 2.4rem !important;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer > section{
        margin-top: 30px;
        margin-right: 0px;
        margin-left: 0px;
    }
}


@media screen and (max-width: 500px){
    form > h1{
        font-size: 2rem;
    }

    form > div{
        padding: 1em;
        align-items: center;
        width: 350px;
    }

    form button{
        width: 60%;
    }
}